.body-backgroundcolor-margin{
    background-color: beige;
    margin-right: 30px;
}

.margin-after-image{
    margin-top: 200px;
}

.image-width-height{
    width: 400px;
    height: 200px;
}

.image-float-marginright{
    float: left;
    margin-right: 20px;
}

.operator-image-width-height{
    width: 400px;
    height: 220px;
}

#fuze-image-width-height{
    width: 650px; 
    height: 350px;
}

ul{
    list-style: square;
}

#operatorok-hr-top-margin{
    margin-top: 215px;
}

.sas-underline{
    text-decoration: underline;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;

}

.tablazat .focim{
    background-color: greenyellow;
}

th{
    background-color: aqua;
}

.tablazat #tablazat-no-bgc{
    background-color: beige;
}

.header{
    background-color: rgb(77, 77, 60);
    color: white;
    width: 1920px;
    height: 55px;
    margin-left: -8px;
    margin-top: -20px;
    padding: 5px 0px;
}

.header-baloldal{
    text-align: start;
    float: left;
    width: 100px;
    padding-left: 20px;
}

.header-jobboldal{
    text-align: end;
    float:right;
    width: 100px;
    padding-right: 20px;
}

.header a{
    color: burlywood;
}
.header a:visited{
    color: burlywood;
}

.header li{
    color: white;
    text-decoration: underline;
}

.header-ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;

    overflow: hidden;
    list-style: none;
}

#header-fooldal, #header-operatorok, #header-pvejatekmod{
    float: left;
    padding-right: 425px;
}

#header-tartalom{
    padding-right: 65px;
    float: right;
}