.body-backgroundcolor-margin{
    background-color: beige;
    margin-right: 30px;
}

.margin-after-image{
    margin-top: 200px;
}

.image-width-height{
    width: 400px;
    height: 200px;
}

.image-float-marginright{
    float: left;
    margin-right: 20px;
}

.operator-image-width-height{
    width: 400px;
    height: 220px;
}

#fuze-image-width-height{
    width: 650px; 
    height: 350px;
}

ul{
    list-style: square;
}

#operatorok-hr-top-margin{
    margin-top: 215px;
}

.sas-underline{
    text-decoration: underline;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;

}

.tablazat .focim{
    background-color: greenyellow;
}

th{
    background-color: aqua;
}

.tablazat #tablazat-no-bgc{
    background-color: beige;
}